<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="wap-font-scale" content="no"/>
    <title>测评</title>
    <script type="text/javascript" src="../js/lib/zepto.js"></script>
    <script type="text/javascript" src="../js/lib/qrcode.min.js"></script>

    <link href="../css/list.css" rel="stylesheet">
</head>
<body>
<div class="content" id="survey_page">
    <div class="questions" id="questions">
        <div id="loading" style="display: flex; justify-content: center; text-align: center; font-size: 16px; padding: 20px 0;">加载中...</div>
        <p id="remind" style="text-align: center; font-size: 20px; padding: 20px 0;"></p>
    </div>

</div>
<div id="qrcode"></div>

<script>
	var url = window.location.href;
	var uas = window.navigator.userAgent;

	if (uas.indexOf("MSIE 6.0")>0 || uas.indexOf("MSIE 7.0")>0 || uas.indexOf("MSIE 8.0")>0 || uas.indexOf("MSIE 9.0")>0 || uas.indexOf("MSIE 10.0")>0){
		showCode(url);
	} else {
		setTimeout(function() {
			if($('.remind')) {
				showCode(url);
            }
        }, 5000);
    }

    function showCode(url) {
		if(document.getElementById("loading")) {
			document.getElementById("loading").innerText = "";
			document.getElementById("remind").innerText = "当前浏览器版本太低，请升级到最新版或者扫描上图的二维码用手机QQ试试";

			var qrcode = new QRCode(document.getElementById("loading"), {
                width : 200,
                height : 200
            });
            qrcode.makeCode(url);
		}
    }
</script>
<script type="text/javascript" src="../js/lib/template.js"></script>
<script type="text/javascript" src="../js/list.js"></script>

<script type="text/html" id="q_item">
    <div class="title">{{periodTitle}}</div>
    <!--<div class="topic_title">chose</div>-->
    <form class="border-1px border-all form">
        {{if deptList && deptList.length > 0}}
        {{each deptList}}
        <div class="answer border-1px border-bottom">
            <input id={{$value.deptId}} type="radio" name="1" value={{$value.deptId}} apFlag={{$value.apFlag+''}}
                {{if $value.apFlag}}disabled{{/if}}>
            <label for={{$value.deptId}} {{if $value.apFlag}}class="finished_label"{{/if}}></label>
            <span {{if $value.apFlag}}class="finished_text"{{/if}}>{{$value.deptName}}</span>
        </div>
        {{/each}}
        <div class="submit_button hide">开始测评</div>
        {{/if}}
    </form>
</script>

</body>
</html>