@import 'common';

@unit: 75rem;

html {
	height: 100%;
	font-size: 84/@unit;
}

body {
	background-color: #fff;
}

.title {
	text-align: center;
	font-size: 120/@unit;
	color: #333;
	padding-bottom: 90/@unit
}

.title_phone {
    text-align: center;
    font-size: 90/@unit;
    color: #333;
    padding: 90/@unit 0;
	span {
		font-size: 75/@unit;
	}
}

.title_line {
	margin: 10/@unit 160/@unit 120/@unit;
	height: 16/@unit;
	background-color: #cccccd;
	overflow: hidden;
}

.top_desc {
	padding: 10/@unit 0;
	font-size: 88/@unit;
}

.content{
	padding: 60/@unit 100/@unit;
}

.error_bar {
	background: #FF8181;
	color: #fff;
	padding: 20/@unit 30/@unit;
	margin: 10/@unit 0;
}

.topic_title {
	margin: 10/@unit 160/@unit;
}

form {
	display: flex;
	position: relative;
	padding: 0 160/@unit;
	margin-bottom: 50/@unit;
	background-color: #fff;
	font-size: 68/@unit;
	.answer {
		position: relative;
		width: 100%;
		height: 160/@unit;
		line-height: 160/@unit;
		span {
			position: absolute;
			top: 0;
			left: 140/@unit;
			pointer-events: none;
		}
	}
}

input[type="radio"] {
	width: 100%;
	height: 80/@unit;
	opacity: 0;
}

input[type="checkbox"] {
	width: 100%;
	height: 80/@unit;
	margin-top: 40/@unit;
	opacity: 0;
}

label {
	position: absolute;
	left: 30/@unit;
	top: 40/@unit;
	width: 80/@unit;
	height: 80/@unit;
	background-image: url("../images/radio_off.png");
	background-size: cover;
	pointer-events: none;
}

input:checked+label::after {
	position: absolute;
	content: "";
	width: 80/@unit;
	height: 80/@unit;
	background-image: url("../images/icon_checkbox_fill.png");
	background-size: cover;
}

.pc_button {
	display: flex;
	margin: 200/@unit auto;
	width: 1600/@unit;
	text-align: center;
	.pc_quit {
		height: 180/@unit;
		line-height: 180/@unit;
		width: 500/@unit;
		text-decoration:underline;
		color: #058785;
	}
	.submit_button {
		width: 800/@unit;
		border-radius: 20/@unit;
		height: 180/@unit;
		line-height: 180/@unit;
		//padding: 40/@unit 0;
		color: #fff;
		background: #058785;
		text-align: center;
	}
}

.question-num{
	display: flex;
	align-items: baseline;
	margin-left: 160/@unit;
	.question-current{
		font-size: 200/@unit;
		color: #058785;
		padding-left: 4/@unit;
	}
	.question-total{
		font-size: 80/@unit;
		color: #058785;
		span{
			padding-left: 20/@unit;
		}
	}
}
.question-title{
	margin-left: 60/@unit;
	margin-right: 100/@unit;
	font-size: 100/@unit;
	color: #058785;
}
.answer-content{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 60/@unit;
    overflow: hidden;
	.answer-item{
		position: relative;
		//margin: 0 80/@unit;
		font-size: 80/@unit;
		color: #666666;
		input[type="radio"] {
			width: 100%;
			//margin: 0 160/@unit;
			height: 220/@unit;
			opacity: 0;
		}
		input:checked+span {
			background: #F2F6FF !important;
			opacity: 1;
		}
		input:checked+span {
			color: #058785;
		}
        label {
            margin-top: 30/@unit;
            margin-left: 160/@unit;
        }
		.choose-label {
			background-image: url("../images/icon_checkbox_fill.png");
		}
		span {
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
			height: 100%;
			line-height: 220/@unit;
			width: 100%;
			padding-left: 320/@unit;
			//background: #F2F6FF;
		}
	}
	.answer-color{
		background: #F2F6FF;
		color: #058785;
	}
}

.choose_button{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: 260/@unit 0;
	color: #058785;
	.quit_button {
		padding: 0 20/@unit;
	}
	.before_button {
        padding: 0 20/@unit;
	}
	.next_button {
        padding: 0 20/@unit;
	}
}

.submit_result {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	font-size: 90/@unit;
	.submit_icon {
		margin-top: 400/@unit;
		margin-bottom: 200/@unit;
		width: 350/@unit;
		height: 350/@unit;
		background-image: url("../images/icon_success.png");
		background-size: 100% 100%;
	}
}

.hide {
    display: none;
}

@media (min-width: 1024px) {  /*>=1024的设备*/
	body,html {
		background-color: #EFEFEF;
	}
	.phone_content {
		display: none;
	}
	.pc_content {
		display: block;
	}
	.title {
		padding: 120/@unit 0;
	}
	.pc_content{
		margin: 80/@unit 12%;
		background-color: #fff;
		padding-bottom: 20/@unit;
	}
	.submit_text {
		padding-bottom:200/@unit;
	}
}

@media (max-width: 1023.9px) {  /*<1024的设备*/
	.phone_content {
		 display: block;
	 }
	.pc_content {
		display: none;
	}
	.title {
		padding-top: 100/@unit;
	}
	.submit_text {
		padding-bottom:200/@unit;
	}
}

@media (max-width: 320px) {
	html {
		height: 100%;
		font-size: 74/@unit;
	}
	.title {
		padding-bottom: 60/@unit !important;
	}
	.choose_button{
		margin-top: 160/@unit;
	}
}